<h1 mat-dialog-title>Ajout d'un nouveau défi</h1>
<div mat-dialog-content>
  <form [formGroup]="formDefis">
    <div formGroupName="defis">
      <div class="fields">

        <mat-form-field>
          <mat-label>ID</mat-label>
          <span matPrefix>D </span>
          <input formControlName="id" id="id" matInput>
          <mat-error *ngIf="id?.errors?.required">Le ID est requis.</mat-error>
          <mat-error *ngIf="id?.errors?.minlength">Le ID doit avoir au moins {{id?.errors?.minlength.requiredLength}} charactères</mat-error>
        </mat-form-field>

      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input formControlName="titre" id="titre" placeholder="Titre du défi" matInput>
        <mat-error *ngIf="titre?.errors?.required">Le titre est requis.</mat-error>
        <mat-error *ngIf="titre?.errors?.minlength">Le titre doit avoir au moins {{titre?.errors?.minlength.requiredLength}} charactères</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <input formControlName="nomType" id="type" placeholder="Le type du défi" matInput>
        <mat-error *ngIf="nomType?.errors?.required">Le type est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Arrêt</mat-label>
        <mat-select formControlName="arret" id="arret">
          <ng-container>
            <mat-option></mat-option>
            <mat-option *ngFor="let ar of Larrets"
            [value]="ar?.features[0].properties.CODE">{{ ar?.features[0].properties.LIBELLE }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="arret?.errors?.required">L'arret est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mot clés</mat-label>
        <input formControlName="motscles" id="motscles" placeholder="Les mots clés du défi" matInput>
        <mat-error *ngIf="motscles?.errors?.required">Le mot clés est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Points</mat-label>
        <input formControlName="points" id="points" placeholder="Les points du défi" matInput>
        <mat-error *ngIf="points?.errors?.required">Les points du défi sont requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Durée</mat-label>
        <input formControlName="duree" id="duree" placeholder="Durée du défi" matInput>
        <mat-error *ngIf="duree?.errors?.required">La durée du défi est requise.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prologue</mat-label>
        <textarea formControlName="prologue" id="prologue" placeholder="Prologue du défi" matInput cols="30" rows="10"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Epilogue</mat-label>
        <textarea formControlName="epilogue" id="epilogue" placeholder="Epilogue du défi" matInput cols="30" rows="10"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Commentaire</mat-label>
        <textarea formControlName="commentaire" id="commentaire" placeholder="Commentaire du défi" matInput cols="30" rows="10"></textarea>
      </mat-form-field>

    </div>
  </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)='fermerAjout()'>Fermer</button>
  <button [disabled]="formDefis?.invalid" mat-button (click)="addDefis()">Valider</button>
</div>


