mat-toolbar {
  height: 6.5rem;
  background-color: white;

  align-items: center;

  border-bottom: 1px solid var(--gray-100);

  > mat-icon {
    user-select: none;
    transition: transform .3s;
    padding-right: 1rem;

    &:hover {
      transform: scale(1.4);
    }
  }

  .spacer {
    flex: 1 1;
    border-left: 0;
  }

  p {
    padding: 0.25rem 1rem 0.25rem 1rem;
  }

  a {
    border-left: 1px solid var(--gray-100);
  }

  label {
    margin-left: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-left: 1px solid var(--gray-100);
  }
}
