<h1 mat-dialog-title>Modification du défi {{donnees.id}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formDefis">
    <div formGroupName="defis">
      <div class="fields">
      <mat-form-field>
        <mat-label>Défi</mat-label>
        <input formControlName="id" id="id" matInput [(ngModel)]="donnees.id">
        <mat-error *ngIf="id?.errors?.required"></mat-error>
        <mat-error *ngIf="id?.errors?.minlength">Défi doit avoir au moins {{id?.errors?.minlength.requiredLength}}</mat-error>
       </mat-form-field>

       <mat-form-field>
        <mat-label>Titre</mat-label>
        <input formControlName="titre" id="titre" placeholder="Titre du défi" matInput [(ngModel)]="donnees.titre">
        <mat-error *ngIf="titre?.errors?.required">Le titre est requis.</mat-error>
        <mat-error *ngIf="titre?.errors?.minlength">Le titre doit avoir au moins {{titre?.errors?.minlength.requiredLength}} charactères</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <input formControlName="nomType" id="nomType" placeholder="Type du défi" matInput [(ngModel)]="donnees.nomType">
        <mat-error *ngIf="nomType?.errors?.required">Le type est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Arrêt</mat-label>
        <mat-select formControlName="arret" id="arret" [(ngModel)]="donnees.arret">
            <mat-option></mat-option>
            <mat-option [value]="donnees.arret">{{donnees.arret}}</mat-option>
        </mat-select>
        <mat-error *ngIf="arret?.errors?.required">L'arret est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Points</mat-label>
        <input formControlName="points" id="points" placeholder="Les points du défi" matInput [(ngModel)]="donnees.points">
        <mat-error *ngIf="points?.errors?.required">Les points sont requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Durée</mat-label>
        <input formControlName="duree" id="duree" placeholder="Durée du défi" matInput [(ngModel)]="donnees.duree">
        <mat-error *ngIf="duree?.errors?.required">La durée est requise.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mots clés</mat-label>
        <input formControlName="motscles" id="motscles" placeholder="Les mots clés du défi" matInput>
        <mat-hint>Veuillez noter les mots clés séparés par des virgules.</mat-hint>
        <mat-error *ngIf="motsCles?.errors?.required">Les mots clés sont requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prologue</mat-label>
        <textarea formControlName="prologue" id="prologue" placeholder="Prologue du défi" matInput cols="30" rows="10" [(ngModel)]="donnees.prologue">
        </textarea>
        <mat-error *ngIf="prologue?.errors?.required">Le prologue est requise.</mat-error>
      </mat-form-field>
    </div>
  </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)='fermerModification()'>Fermer</button>
  <button [disabled]="formDefis?.invalid" mat-button (click)="modifierDefis()">Valider</button>
</div>


