:host {
  display: flex;

  main {
    flex: 1;

    mat-drawer-container {
      flex: 1 1;
      > mat-drawer {
        border-right: 1px solid var(--gray-100);
        background-color: white;
      }
    }

    .map {
      background-color: var(--gray-50);

      yaga-map {
        margin: auto;
        height: 35rem;
        width: 100rem;
      }
    }
  }
}
