mat-grid-tile-header {
  h1 {
    margin: 1rem 1rem 1rem 1rem;
  }
}

button {
  margin: 1rem 1rem 1rem 1rem;
}

mat-card {
  padding: 1rem 1rem 1rem 1rem;
  width: 90%;
  height: 90%;

  .commentaire{
    font-style: italic;
    color:  gray;
  }

  .titre{
    color:  rgb(41, 115, 211);
    font-weight: bold;
  }

  mat-card-actions {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-15%, -15%);
    text-align: right;
  }
}
.info {
  padding: 20px;
  background-color: lightblue;
  color:black;
}


