:host {
  width: 75%;
  min-height: 40px;
  min-width: 100px;
  max-height: 150px;
  display: flex;
  flex-direction: column;

  mat-grid-list[cols="2"] mat-grid-tile {
    mat-list[dense] {
      flex-grow: 1;
      border: 1.5px solid rgb(170, 170, 170);
      border-radius: 3px;
      overflow: auto;
      padding-top: 0px;

      mat-list-item {
        font-size: 12px;
        color: rgb(44, 44, 44);
        background-color: rgb(238, 238, 238);
        border-radius: 2px;
      }

      mat-list-item:nth-child(odd) {
        font-size: 12px;
        color: rgb(44, 44, 44);
        background-color: rgb(223, 223, 223);
        border-radius: 2px;
      }
    }
  }

  mat-card {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  mat-card-actions {
    text-align: right;
  }

  .commentaire{
    font-style: italic;
    font-weight: bold;
  }

  .prologue{
    color:  rgb(41, 115, 211);
    font-weight: bold;
  }
}
