<form  [formGroup]="form" (ngSubmit)="inscription()">
  <div *ngIf="form.errors" class="alert alert-danger">Pseudo, Âge ou Ville Invalide</div>
  <div formGroupName="account">
    <div class="form-group">
      <mat-form-field>
        <mat-label for="pseudo">Pseudo</mat-label>
        <input
          formControlName="pseudo"
          id="pseudo"
          class="form-control"
          matInput
          placeholder="pseudo"
        >
        <div *ngIf="pseudo?.pending">Checking for duplicated pseudo...</div>
          <mat-error *ngIf="pseudo?.errors?.required">Pseudo est requis.</mat-error>
          <mat-error *ngIf="pseudo?.errors?.minlength">Pseudo should have a minimum of {{pseudo?.errors?.minlength.requiredLength}} characters.</mat-error>
          <mat-error *ngIf="pseudo?.errors?.cannotContainSpace">Pseudo cannot contain space.</mat-error>
          <mat-error *ngIf="pseudo?.errors?.shouldBeUnique">Pseudo déjà pris.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="age">Âge</mat-label>
        <input
          formControlName="age"
          id="age"
          class="form-control"
          matInput
          placeholder="Age"
        >
          <mat-error *ngIf="age?.errors?.required">L'âge est requis.</mat-error>
          <mat-error *ngIf="age?.errors?.isNotNumber">L'âge doit être un numéro.</mat-error>
          <mat-error *ngIf="age?.errors?.tooOld">Vous êtes trop vieux XD.</mat-error>
          <mat-error *ngIf="age?.errors?.cannotContainSpace">L'Âge ne peut pas contenir des espaces.</mat-error>
          <mat-error *ngIf="age?.errors?.cannotContainDotOrComma">L'Âge doit être un numéro entier.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="ville">Ville</mat-label>
        <input
            formControlName="ville"
            id="ville"
            class="form-control"
            matInput
            placeholder="Ville"
        >
          <mat-error *ngIf="ville?.errors?.required">La ville est requise.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <label for="description">Description</label>
        <textarea
            formControlName="description"
            id="description"
            class="form-control"
            cols="30"
            rows="10"
            maxlength="500"
            matInput
            placeholder="Description"
        >
        </textarea>
          <mat-error *ngIf="description?.errors?.required">La description est requise.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <button [disabled]="form?.invalid" class="btn btn-primary" type="submit" >S'inscrire</button>
</form>
