
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <body>
    <header>
      <h1>Défi : D127</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/accueil">La Carte</a></li>
        <li><a href="/chamis">Les Chamis</a></li>
        <li><a href="/defis">Les Défis</a></li>

      </ul>
     </nav>


    <main>


      <article>
        <h2>Type : Enigme</h2>
        <p>Auteur : carobis<br>
          Type : Enigme<br>
           Auteur : carobis<br>
          Date de création : 15/03/2021 16:03<br>
          Date de modification : 01/04/2021 16:03<br>
          Version : 2<br>
          Arrêt : "HUBERT DUBEDOUT - MAISON DU TOURISME"<br>
          Code arrêt : SEM_GENDUBEDOUT<br>
          Mots clés : Mouton, StreetArt, Fun, Distanciel<br>
          Points : 16<br>
          Durée : 20mn<br></p>

        <h3>Prologue :</h3>
        <p>- Pour le présentiel regarder la vidéo avant d'aller sur place.</p>


        <h3>Description :</h3>
        <p>- Une amie t'a demandé de préparer un grand méchoui pour 120 personnes.<br>
          - On t'a dit qu'il y avait 4 moutons qui se courraient après autour de la maison du tourisme.<br>
          - 4 moutons juste dans un rayon de 100m.<br>
          - Rendez-vous à l'arrêt de bus "Hubert Dubedout - Maison du tourisme".<br>
          - Cherche le premier mouton.<br>
          - Indice :<br>
              Label : I1<br>
              Description :<br>
                - Détourne toi des bonbons.<br>
                - Ce n'est pas bon pour les dents.<br>
              Points : 1<br>
          - Ca commence bien. Ton premier mouton !<br>
          - Question :<br>
              Label : Q1<br>
              Description : Quel numéro ?<br>
              Secret :<br>
              Points : 1<br>
          - Un autre mouton te regarde, au loin. Sans bouger cherche le.<br>
          - Indice :<br>
              Label : I2<br>
              Description :<br>
                - Regarde dans la direction du bureau de tabac.<br>
                - Regarde en hauteur... Si tu ne le vois pas tu peux t'avancer dans cette direction.<br>
              Points : 3<br>
          - Question :<br>
              Label : Q2<br>
              Description : Quelle est la couleur qui est juste sous le museau du mouton ?<br>
              Secret :<br>
              Points : 4<br>
          - Maintenant regarde la vidéo de sheepest à l'oeuvre.<br>
          - A la fin tu découvriras où est le troisième mouton...<br>
          - <a href="https://www.youtube.com/watch?v=ZbA7aPTmlDY&t=207s">https://www.youtube.com/watch?v=ZbA7aPTmlDY&t=207s</a><br>
          - Indice :<br>
              Label : I3<br>
              Description :<br>
                - En fait il est environ à 25m du premier mouton à vol d'oiseaux.<br>
                - Mais si tu veux le voir il faudra prendre du recul...<br>
              Points : 3<br>
          - Indice :<br>
              Label : I4<br>
              Description :<br>
                - Place toi entre l'angle de monoprix et la maison du tourisme.<br>
          - Zut ! Le mouton à disparu :-(<br>
              Points : 3<br>
          - Question :<br>
              Label : Q3<br>
              Description : Quel est l'animal qui remplace le mouton ?<br>
              Secret :<br>
              Points : 7<br>
          - Maintenant vas vers la poste la plus proche (très proche).<br>
          - Au dessus de la maison de la montagne tu trouveras un mouton montagnard.<br>
          - Question :<br>
              Label : Q4<br>
              Description :<br>
              Secret :<br>
              Points : 4<br>
          - Il y avait 4 moutons à l'origine. Un a disparu.<br>
          - Si tu as besoin de faire un très grand méchoui tu peux aller chercher ailleurs.<br>
          - Des moutons il y en plusieurs centaines à Grenoble partout.<br>
          - Il suffit de les chercher...<br>

        Epilogue :<br>
          - Sheepest dit à propos de ses moutons :\<br>
          - "Quand j’ai eu l’idée de faire des moutons je ne savais pas comment j’allais dessiner les dessiner."<br>
          - "C’est en feuilletant un magazine que j’ai trouvé la tête du mouton propre à une marque de skate peu connue des années 90."<br>

        Commentaire :<br>
          - La première version était ennuyeuse :\ premier mouton trouvé immédiatement (1mn max)<br>
          - La version 2 ajoute deux moutons dont un à découvrir avec une petite vidéo 3mn.<br></p>
      </article>



    </main>



  </body>
</html>
