<yaga-map [lng]="5.734862282275417" [lat]="45.18598899690281" [zoom]="13">
  <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <ng-container  *ngFor="let arretDefi of arretDefis; let index i">
      <yaga-marker  [lng] = "arretDefi.arret.features[0].geometry.coordinates[0]"
                    [lat] = "arretDefi.arret.features[0].geometry.coordinates[1]"
                    [display] = "true"
                    [opacity] = "1">
        <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
        <yaga-popup>
           <h1><b>{{arretDefi.defis.titre}}</b></h1>
           <p>Type : {{arretDefi.defis.nomType}}</p>
           <p color ="blue">Durée : {{arretDefi.defis.duree}}mn</p>
           <p>Points : {{arretDefi.defis.points}}</p>
           <button mat-stroked-button color='primary' (click)="selectionnerDefi(arretDefi.defis)">Visiter</button>
        </yaga-popup>
      </yaga-marker>
    </ng-container>
    <yaga-polyline *ngFor="let x of lignes?.features; let i = index" [color]="couleur(x.properties.COULEUR)" [geoJSON]="x" >
      <yaga-popup>
        <h3>Ligne {{x.properties.NUMERO}}</h3>
        <p>Destination : {{x.properties.LIBELLE}}</p>
      </yaga-popup>
    </yaga-polyline>
</yaga-map>
